@namespace Client.App.Host.Components.Pages
@page "/payments/failed"
<h3>
    Payment failed
</h3>
<p>
    Your payment has failed. Please try again.
</p>
<div>
    <button>
        Try again
    </button>
    <button>
        Cancel
    </button>
</div>

@code {
    
}